body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.main{
    max-width: 1920px;
}

.header, .mainScreen, .about, .characters, .media, .footer{
    width: 100%;
    border-bottom: 5px solid white;
}

.header, .headerButtons, .headerBtn, .buyButtons, .mainScreen, .abbreviation, .about, .aboutContent, .characters, .card, .charStory, .page, .media, .imagesTop, .imagesBottom, .footer, .logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .about, .characters, .media, .footer{
    background-color: black;
}

.mainScreen, .about, .characters, .charStory, .media{
    flex-direction: column;
}

.header{
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

.mainScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.video{
    z-index: -1;
    top: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.contentWrap{
    position: relative;
    top: 0;
    z-index: 1;
}

/* .about{

} */
/* .characters{

}
.media{

} */
.footer{
    height: 156px;
    justify-content: space-around;
    align-items: center;
}

.header .headerImg{
    background-color: brown;
}

.header .headerImg img{
    width: 100%;
    height: 100%;
}

.header .headerButtons{
    background-color: orange;
    gap: 21px;
}

.headerButtons .headerBtn{
    height: 60px;
    background-color: gray;
    border: 5px solid white;
    border-radius: 25px;
    align-items: center;
}

/* .headerButtons .headerBtn:nth-child(1):hover{

}
.headerButtons .headerBtn:nth-child(2):hover{


}
.headerButtons .headerBtn:nth-child(3):hover{

} */

.headerButtons .headerBtn a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: "Press Start 2P", serif;
}

.abbreviation{
    white-space: nowrap;
    font-family: 'Courier New';
    background-color: gray;
    border: 5px solid white;
    border-radius: 25px;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
    font-size: 40px;

}

.abbreviation p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    font-family: "Press Start 2P", serif;
    color: white;
}

/* .abbrMain, .abbrAbout, .abbrChar, .abbrMedia{
    width: 1700px;
} */
/* 
.abbrMain{
    width: 1700px;
    font-size: 36px;
}

.abbrAbout{
    width: 1700px;
}

.abbrChar{

    width: 1700px;
} */

.mainScreenImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.mainScreenImg img{
    width: 678px;
    height: 200px;
}

.buyButtons{
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
}

.buyButtons .buyBtn{
    width: 400px;
    height: 120px;
    background-color: rgb(255, 0, 43);
}

.aboutContent{
    gap: 20px;
}

.aboutContent .left{
    height: 520px;
    background-color: #47E6F8;
    border-radius: 25px;
    padding: 10px;
}

.aboutContent .left img{
    width: 100%;
    height: 100%;
}

.aboutContent .right{
    width: 984px;
    background-color: chartreuse;
}

.aboutContent .right p{
    text-align: center;
    font-family: "Sofia Sans", serif;
}

.aboutContent .right p{
    font-size: 48px;
}

/* .bottomAboutImg{
    background-color: blueviolet;
} */

.bottomAboutImg img{
    width: 100%;
    height: 100%;
}

.characters .card{
    width: 1577px;
    height: 688px;
    background-color: #C9BBF1;
    border-radius: 25px;
    margin: 60px 0;
}

.characters .card .charImg img{
    width: 100%;
    height: 100%;
}

/* .characters .card .charStory{
    background-color: crimson;
} */

.characters .card .charStory .cardStory{
    width: 1025px;
    background-color: white;
    border-radius: 25px;
    height: 100%;

}

.characters .card .charStory .cardStory .charName{
    width: 100%;
    background-color: #C9BBF1;
    border: 5px solid black;
    border-radius: 25px;
    box-sizing: border-box;
}

.characters .card .charStory .cardStory p{
    font-family: "Sofia Sans", serif;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100%;
    padding: 25px 15px;
    
}

.characters .card .charStory .cardStory .charName p{
    text-align: center;
    font-family: "Press Start 2P", serif;
    font-size: 64px;
    margin: 0;
    padding: 20px 0;
}

.characters .card .charStory .page{
    width: 215px;
    justify-content: space-between;
    margin-top: 20px;
}
.characters .card .charStory .page .cardNum{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: black;
}

.imagesMedia .imagesTop, .imagesMedia .imagesBottom{
    justify-content: space-between;
}

.imagesMedia .imagesTop .imgMedia:nth-child(1){
    width: 580px;
    height: 440px;
    background-color: #A6109C;
}
.imagesMedia .imagesTop .imgMedia:nth-child(2){
    width: 560px;
    height: 426px;
    background-color: #096D80;
}
.imagesMedia .imagesBottom .imgMedia:nth-child(1){
    width: 560px;
    height: 393px;
    background-color: #065524;
}
.imagesMedia .imagesBottom .imgMedia:nth-child(2){
    width: 576px;
    height: 420px;
    background-color: #692F06;
}
.footer .footerLogo{
    width: 630px;
    height: 156px;
}
.footer .footerLogo img{
    width: 100%;
    height: 100%;
}
.footer .logos{
    background-color: darkcyan;
    align-items: center;
    justify-content: center;
}
.footer .logos .logoImg{
    background-color: aqua;
}
.footer .logos .logoImg:nth-child(1){
    width: 115px;
    height: 110px;
}
.footer .logos .logoImg:nth-child(2){
    width: 115px;
    height: 81px;
}
.footer .logos .logoImg:nth-child(3){
    width: 141px;
    height: 81px;
}
.footer .support{
    width: 552px;
    height: 59px;
    background-color: darkgoldenrod;
}
.footer .support p{
    text-align: center;
    font-family: "Sofia Sans", serif;
    font-size: 20px;
}