body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.main{
    min-width: 1920px;
}


/* Общие свойства */
.header, .mainScreen, .about, .characters, .media, .footer{
    width: 100%;
    border-bottom: 5px solid white;
}

.header, .headerButtons, .headerBtn, .buyButtons, .blackFilter, .mainScreen, .abbreviation, .about, .aboutContent, .characters, .card, .charInfo, .pages, .media, .imagesTop, .imagesBottom, .footer, .logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainScreen, .about, .characters, .charInfo, .media, .blackFilter{
    flex-direction: column;
}

.header, .footer{
    background-color: black;
}

.abbreviation{
    white-space: nowrap;
    font-family: 'Courier New';
    background-color: gray;
    border: 5px solid white;
    border-radius: 25px;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
    font-size: 40px;
    padding: 0 20px;
    width: max-content;
}

.abbreviation p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Press Start 2P", serif;
    color: white;
}

.blackFilter{
    position: relative;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}



/* главный блок */
.main{
    min-width: 1920px;
}



/* хэдэр */
.header{
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

.mainScreen{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.video{
    z-index: -1;
    position: absolute;
}

.contentWrap{
    position: relative;
    display: flex;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
}

.footer{
    height: 156px;
    justify-content: space-around;
    align-items: center;
}

.header .headerImg img{
    width: 100%;
    height: 100%;
}

.header .headerButtons{
    gap: 21px;
}

.headerButtons .headerBtn{
    height: 60px;
    background-color: gray;
    border: 5px solid white;
    border-radius: 25px;
    align-items: center;
    padding: 0 20px;
}

.headerButtons .headerBtn a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: "Press Start 2P", serif;
}

/* ховер кнопок */
.headerButtons .headerBtn:nth-child(1):hover{
    background-color: #68FE4A;
    border: 5px solid #1E9033;
    color: #1E9033;
}
.headerButtons .headerBtn:nth-child(2):hover{
    background-color: #FFA464;
    border: 5px solid #FF6A00;
}

.headerButtons .headerBtn:nth-child(3):hover{
    background-color: #FF5558;
    border: 5px solid #FF0004;

}

.headerButtons .headerBtn:nth-child(4):hover{
    background-color: #AB87FF;
    border: 5px solid #6560FF;
}

/* ховер ссылок */
.headerButtons .headerBtn:nth-child(1) a:hover{
    color: #1E9033;
}

.headerButtons .headerBtn:nth-child(2) a:hover{
    color: #FF6A00;
}

.headerButtons .headerBtn:nth-child(3) a:hover{
    color: #FF0004;
}

.headerButtons .headerBtn:nth-child(4) a:hover{
    color: #6560FF;
}



/* первый блок (главный экран)*/
.mainScreen{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.video{
    z-index: -1;
    position: absolute;
}

.contentWrap{
    position: relative;
    display: flex;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
}

.abbreviation:first-child{
    font-size: 36px;
}

.mainScreenImg{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 600px; */
    margin: 200px 0;
}

.mainScreenImg img{
    /* width: 678px;
    height: 200px; */
    width: 100%;
    height: 100%;
}

.buyButtons{
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
}

.buyButtons .buyBtn{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 120px;
    border-radius: 25px;
}

.buyButtons .buyBtn:nth-child(1){
    background-color: #FF5558;
    border: 5px solid red;
}

.buyButtons .buyBtn:nth-child(2){
    background-color: #68FE4A;
    border: 5px solid darkgreen;
}

.buyButtons .buyBtn:nth-child(3){
    background-color: #AB87FF;
    border: 5px solid #6560FF;
}

/* .buyButtons .buyBtn img{
    width: 100%;
    height: 100%;
} */



/* второй блок (об игре)*/
.about{
    background-image: url(./images/CornBackg.png);
    background-repeat: no-repeat;
}

.aboutContent{
    margin: 64px 0;
    gap: 20px;
}

.aboutContent .left{
    height: 520px;
    background-color: #47E6F8;
    border-radius: 25px;
    padding: 10px;
}

.aboutContent .left img{
    width: 100%;
    height: 100%;
}

.aboutContent .frame{
    background-color: cyan;
    border-radius: 25px;
    padding: 10px;
}

.aboutContent .right{
    width: 984px;
    background-color: white;
    border-radius: 25px;
}

.aboutContent .right p{
    text-align: center;
    font-family: "Sofia Sans", serif;
    margin: 0;
}

.aboutContent .right p{
    font-size: 48px;
}

.bottomAboutImg img{
    width: 100%;
    height: 100%;
}



/* третий блок (карточки)*/
.characters{
    background-image: url(./images/greenKnightBackg.png);
    background-repeat: no-repeat;
}

.characters .card{
    width: 1577px;
    height: 688px;
    background-color: #C9BBF1;
    border-radius: 25px;
    margin: 77px 0;
}

.characters .card .charImg img{
    width: 100%;
    height: 100%;
}

.characters .card .charInfo .story{
    width: 1025px;
    background-color: white;
    border-radius: 25px;
    height: 100%;

}

.characters .card .charInfo .story .charName{
    width: 100%;
    background-color: #C9BBF1;
    border: 5px solid black;
    border-radius: 25px;
    box-sizing: border-box;
}

.characters .card .charInfo .story p{
    font-family: "Sofia Sans", serif;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100%;
    padding: 25px 15px;
    
}

.characters .card .charInfo .story .charName p{
    text-align: center;
    font-family: "Press Start 2P", serif;
    font-size: 64px;
    margin: 0;
    padding: 20px 0;
}

.characters .card .charInfo .pages{
    width: 215px;
    justify-content: space-between;
    margin-top: 20px;
}
.characters .card .charInfo .pages .cardNum{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: black;
}



/* четвёртый блок (медиа) */
.media{
    background-image: url(./images/MediaBackg.png);
    background-repeat: no-repeat;
}

.media .imagesMedia{
    margin: 30px 0;
}

.imagesMedia .imagesTop, .imagesMedia .imagesBottom{
    margin-top: 20px;
    gap: 70px;
}

.imagesMedia .imagesTop .imgMedia:nth-child(1){
    background-color: #A6109C;
    transform: rotate(-7deg);
    padding: 10px;
    border-radius: 25px;
}
.imagesMedia .imagesTop .imgMedia:nth-child(2){
    background-color: #096D80;
    transform: rotate(-7deg);
    padding: 10px;
    border-radius: 25px;
}
.imagesMedia .imagesBottom .imgMedia:nth-child(1){
    background-color: #065524;
    transform: rotate(-7deg);
    padding: 10px;
    border-radius: 25px;
}
.imagesMedia .imagesBottom .imgMedia:nth-child(2){
    background-color: #692F06;
    transform: rotate(5deg);
    padding: 10px;
    border-radius: 25px;
}

.imagesMedia .imagesTop .imgMedia img, .imagesMedia .imagesBottom .imgMedia img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.imagesMedia .imagesTop .imgMedia:nth-child(1){
    background-color: #A6109C;
    transform: rotate(-7deg);

}

.imagesMedia .imagesTop .imgMedia:nth-child(2){
    background-color: #096D80;
    transform: rotate(7deg);
}

.imagesMedia .imagesBottom .imgMedia:nth-child(1){
    background-color: #065524;
    transform: rotate(5deg);
}

.imagesMedia .imagesBottom .imgMedia:nth-child(2){
    background-color: #692F06;
    transform: rotate(-7deg);
}



/* футер */
.footer{
    height: 156px;
    justify-content: space-around;
    align-items: center;
}

.footer .footerLogo{
    width: 630px;
    height: 156px;
}

.footer .footerLogo img{
    width: 100%;
    height: 100%;
}

.footer .logos{
    background-color: darkcyan;
    align-items: center;
    justify-content: center;
}

.footer .logos .logoImg{
    background-color: aqua;
}

.footer .support{
    width: 552px;
    height: 59px;
}

.footer .support p{
    text-align: center;
    font-family: "Sofia Sans", serif;
    font-size: 20px;
    color: white;
}























